.filter, .selected {
    font-size: 12px;
    cursor: pointer;
    font-weight: 700;
}

.filter {
    color: var(--Dark-Grayish-Blue-light);
}

.filter:hover {
    color: var(--Bright-Blue);
}

.selected {
    color: var(--Bright-Blue);
}