.todoList {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    width: 400px;

    .spacerHeader, .spacerList, .spacerFilter {
        width: 100%;
        padding: 1rem 0;
    }

    .filterMobile {
        display: none;
    }
}

@media only screen and (max-width: 1030px) {
    .todoList {
        width: 80%;

        .spacerHeader, .spacerList {
            padding: 0.5rem 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .todoList {
        width: 90%;

        .spacerHeader, .spacerList, .spacerFilter {
            padding: 0.4rem 0;
        }
        
        .filterMobile {
            display: block;
            width: 100%;
        }
    }

}