.filterMobile, .filterMobileDark, .filterMobileLight {
    width: 100%;
    padding: 1rem;
    border-radius: 0.3rem;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

.filterMobileDark {
    background: var(--Very-Dark-Desaturated-Blue);
}

.filterMobileLight {
    background: var(--Very-Light-Gray);
}