.footerFilter, .footerFilterDark, .footerFilterLight {
    width: 100%;
    padding: 1rem;
    user-select: none;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .filter, .info {
        color: var(--Dark-Grayish-Blue-light);
        font-size: 12px;
        font-weight: 400;
    }

    .controls {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .filter {
        font-size: 12px;
        cursor: pointer;
    }

    .filter:hover {
        color: var(--Bright-Blue);
    }
}

.footerFilterDark {
    background: var(--Very-Dark-Desaturated-Blue);
}

.footerFilterLight {
    background: var(--Very-Light-Gray);
}

@media only screen and (max-width: 600px) {
    .footerFilter {
        .controls {
            display: none;
        }
    }
}