.footerFilter {
    width: 100%;
    padding: 1rem;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .filter, .info {
        color: #ccc;
        font-size: 12px;
    }

    .controls {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .filter, .selected {
        font-size: 12px;
        cursor: pointer;
    }

    .filter:hover {
        color: blue;
    }

    .selected {
        color: blue;
    }
}